html{
    font-size: 14px;
}

* {
    box-sizing: border-box;
  }

[class*="col-"] {
    float: left;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    clear: both;
    display: table;
    max-height: min-content;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.before{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
}

.price{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: 2rem;
}

body{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

main{
    border-radius: 25px;
}

.imgmbl{
    display: none;
    width: 100%;
}

.imgdsk{
    width: 100%;
}

h1{
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2.5rem;
}

p, h5{
    font-family: 'Montserrat';
    font-weight: 400;
    color: hsl(228, 12%, 48%);
}

.left, .left img{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.right{
    padding: 20px;
    padding-top: 0;
}

.buy{
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 15px;
    border-radius: 15px;
    border-style: none;
}

.but{
    display: grid;
    place-items: center;
    padding: 10px 0;
}

@media only screen and (max-width: 768px){
    [class*="col-"] {
        float: left;
        content: "";
        width: 100%;
    }
    main{
        display: grid
    }

    .imgmbl{
        display: block;
    }

    .imgdsk{
        display: none;
    }

    .left, .left img{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }